<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150057304456-lsrb97uv89m80fv1b7o8jqs86r2433bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150057304456-lsrb97uv89m80fv1b7o8jqs86r2433bl</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmAfoWLfwb-XSsaofgUURaWdFqnSe3PE</string>
	<key>GCM_SENDER_ID</key>
	<string>150057304456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.erikakh.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-8efd8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-8efd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150057304456:ios:a8e6bd9fb4465ee2cb7a3d</string>
</dict>
</plist>